.logo {
    width: 75px;
    height: 75px;
    margin-left: 50px;
    margin-top: 25px;
    background-image: url("../logo.png");
    background-size: 75px 75px;
}

.title {
    border:1px solid #000000;
    display: inline-block;
    font-size: 25px;
    align-self: center;
    width:80%;
    margin-left: 100px;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.reversi-grid {
    background-color: whitesmoke;
    border: 1px solid black;
    border-collapse: collapse;
    border-width: thick;
}

.reversi-grid:hover {
    cursor: pointer;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
    width: 30px;
    text-align: center;
}

.center, .buttonBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin-top: 50px;
}

.buttonBlock {
    margin-top: 20px;
}

button {
    cursor: pointer;
    align-items: center;
    margin-right:16px;
}

button:disabled {
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: rgb(200,200,200);
}
